.product-form-wrapper {
    padding: 20px;
    width: 600px;
}
.product-form-wrapper .actions {
    margin-top:20px;
}
.product-form-wrapper .actions > button {
    margin-right: 5px;
}

.product-form-wrapper .actions > button:last-child {
    margin-right: 0;
}