body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
  background-color: #f6f6f6;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.shadow-box {
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 3px;
}

label {
  display: block;
  font-weight: 500;
}
input, select {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 30px;
  line-height: 30px;
  outline: none;
  font-weight: 300;
  border-radius: 3px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
  background: #fff;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
.filter {
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  height: 455px;
}
.inline-controls {
  display: flex;
  flex-flow: row nowrap;
}
.inline-controls > * {
  margin-right: 5px;
}
.inline-controls > :last-child {
  margin-right: 0;
}
.icon-btn {
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}